@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cinzel:wght@400;500;600;800;900&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Noto+Sans:wght@100;200;300;400;500;800&family=Changa:wght@200;500&display&family=Almarai:wght@300;400&display=swap');
/* Global */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --fontTitle:'Aboreto', cursive;
  --fontmain:'Josefin Sans', sans-serif;
  --fontSec:'Cinzel', serif;
  --fontText:'Noto Sans', sans-serif;
  --fontAr:'Changa', sans-serif;
  --bgColor: #F7F7F7;
  --titleColor:#141318;
  --textColor:#5C5C5C;
  --lineColor:#BDBDBD;
  --iconColor:#3A3A3A;
}
html{
  scroll-behavior: smooth;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
/* Freamwork */
.row{
  width: 50%;
}
.text{
  font-family: var(--fontText);
  color: var(--textColor);
  font-size: 11px;
  font-weight: 400;
}
.text-contact{
  font-family: var(--fontText);
  color: var(--textColor);
  font-size: 11px;
  font-weight: 400;
}
.text div{
  margin-bottom: 5px;
}
.text b{
  color: var(--titleColor);
  cursor: pointer;
  transition: .3s;
}
.text b:hover{
  color: var(--lineColor);
}
.text div span i{
  margin-left:5px;
  margin-right:5px;
}
.text-ar{
  font-family: var(--fontAr) !important
}
.small-title{
  /* font-family: var(--fontSec); */
  color: var(--iconColor);
  font-size: 13px;
  font-weight: 800 !important
}
.small-title.experiences{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.small-title.experiences p{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 3px;
}
.small-title.date{
  font-size: 9px;
}
/* Freamwork */
/* Global */
/*Start Heading */
.resume{
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bgColor);
  padding:25px;
}
.resume .title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 140px;
}
.resume .title .name{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.resume .title .name .main{
  font-family: var(--fontmain);
  text-transform: uppercase;
  font-weight: 500;
  font-size:3rem;
}
.resume .title .name .main.ar{
  line-height: 1.3;
  font-family: 'Almarai', sans-serif;
}
.resume .title .name .address{
  display: flex;
  flex-wrap: wrap;
}
.resume .title .name .address.ar{
  margin-bottom: 15px;
}
.resume .title .name .address .details{
  display: flex;
  align-items: center;
  gap: 2px;
  margin-left: 3px;
}
.resume .title .name .address .details i{
  font-size: 4px;
}
.resume .title .name .address .details p{
  font-size: 12px;
}
.resume .title .lang{
  font-weight: 800;
  font-family: var(--fontmain);
  transition: .3s;
  display: flex;
  align-self: flex-end;
}
.resume .title .lang a{
  color: var(--textColor);
  font-size: 13px;
  cursor: pointer;
  margin-bottom: 6px;
}
.resume .title .lang a:hover{
  color: var(--titleColor);
}
.resume .title button.print,
.resume .title .download{
  background: none;
  position: absolute;
  border: 1px solid var(--textColor);
  border-radius: 3px;
  padding: 1px 5px;
  font-size: 7px;
  cursor: pointer;
}
.resume .title .print.en,
.resume .title .download.en{
  top: -20px
}
.resume .title .print.ar,
.resume .title .download.ar{
  top: -20px;
}
.resume .title .print.en{
  right: 20px;
}
.resume .title .print.ar{
  left: 20px;
}
.resume .title .download.en{
  right: -10px;
}
.resume .title .download.ar{
  left: -10px
}
.resume .job{
  display: flex;
  justify-content: space-between;
  padding:7px 0;
  margin: 5px auto;
  align-items: center;
  border-top: 2px dotted var(--lineColor);
  border-bottom: 2px dotted var(--lineColor);
  font-family:var(--fontmain);
  font-size: 13px;
  font-weight:700;
}
.resume .job .specialization{
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--textColor);
  font-size: 12px;
}
.resume .job .specialization.ar{
  font-family: var(--fontAr);
}
.resume .job .specialization i{
  font-size: 4px;
}
.resume .job a{
  color: var(--textColor);
  margin: 0 5px;
}
/* End Heading */
/* Start Section */
section {
  display: flex;
  gap: 20px;
}
section .education_experiences_goals .section-title{
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 2px solid var(--lineColor);
  padding-bottom: 5px;
  margin-bottom: 7px;
}
section .education_experiences_goals .section-title i{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--iconColor);
  border: 1px solid var(--iconColor);
  border-radius: 50%;
  opacity: .9;
  width: 26px;
  height: 26px;
  font-size: 13px
}
section .education_experiences_goals .section-title h3{
  font-size: 17px;
  font-family: var(--fontTitle);
  font-weight: 600;
}
section .education_experiences_goals .content p.text{
  margin: 0 7px 10px;
}
section .education_experiences_goals .section-title h3.ar{
  font-family: var(--fontAr);
}
section .education_experiences_goals .info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.education_experiences_goals .info.skills{
  margin-bottom: 10px;
  border-bottom:2px dotted var(--lineColor);
}
.education_experiences_goals .info .skill{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.education_experiences_goals .info .skill.ar{
  direction: ltr;
}
.education_experiences_goals .info .skill span{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-left: 20px;
  font-size: 11px;
  font-family: var(--fontSec);
}
.education_experiences_goals .info .skill span.skill-ar{
  font-family: var(--fontAr);
  font-weight: 300;
}
.education_experiences_goals .info .certficate span{
  display: flex;
  direction: ltr;
  align-items: center;
  gap: 5px;
  margin: 6px;
  font-family: var(--fontSec);
}
.education_experiences_goals .language{
  display: flex;
  align-content: center;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.education_experiences_goals .language span{
  display: flex;
  align-items: center;
  gap: 7px;
}
.education_experiences_goals .info .skill span i,
.education_experiences_goals .info p i,
.education_experiences_goals .language span i{
  font-size: 5px;
  opacity: .7;
}
/* End Section */
/* Footer */
.resume footer{
  display: flex;
  justify-content: space-between;
  font-size: 9px;
  font-family: var(--fontAr);
  padding: 3px;
  margin: 2px auto;
  border-top: 2px dotted var(--lineColor);
  border-bottom: 2px dotted var(--lineColor);
}
/* Footer */
/* @Media */
@media(min-width:768px){
  .resume{
    width: 750px;
  }
}
@media(min-width:992px){
  .resume{
    width: 881px;
  }
}
@media(max-width:767px){
  .resume{
    padding: 25px 15px;
  }
  .resume .title{
    height: 90px;
  }
  .resume .title .name .main{
      font-size: 1.3rem;
    }
  .resume .title .name .address{
      margin-top: 8px;
    }
  .resume .title .name .address .details p{
      font-size: 9px;
    }
    .resume .title .lang a{
      font-size: 11px;
    }
    .resume .job .specialization{
      font-size: 9.5px;
      gap: 4px;
    }
    .resume .job a{
      font-size: 9px;
    }
    section div .section-title h3{
      font-size: 13px;
    }
  }
/* @Media Print */
@media print {
  .resume .title .lang{
    display:none
  }
  .resume .title .download{
    display: none;
  }
  .resume .title button.print{
    display: none;
  }
}
/* @Media Screen */
@media screen {
  @media(max-width:767px) {
    section{
      display: flex;
      flex-direction: column;
    }
  }
}
